<!--
  templateType: none
-->

<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>

<head>
  <meta charset="utf-8">
  {% if page_meta.html_title %}<title>{{ page_meta.html_title }}</title>{% endif %}
  {% if brand_settings.favicon.src %}
  <link rel="shortcut icon" href="{{ brand_settings.favicon.src }}" />{% endif %}
  <meta name="description" content="{{ page_meta.meta_description }}">

  {{ require_js(get_asset_url('../../build/js/main.js'), { async: false, position: 'head' }) }}

  {% if template_css %}
  {{ require_css(get_asset_url(template_css)) }}
  {% endif %}

  {{ standard_header_includes }}
</head>

<body class="with-navigation {{ builtin_body_classes }}">

  {% block header %}
  {% module "global_header" path="/TosohTheme2025/modules/globals/Header.module", label="Header" %}
  {% endblock header %}

  {% block body %}
  {% endblock body %}

  {% block footer %}
  {% module "global_footer" path="/TosohTheme2025/modules/globals/Footer.module", label="Footer" %}
  {% endblock footer %}

</body>

{{ standard_footer_includes }}

</html>
