{% import "../../templates/partials/macros.html" as macros %}

{% set insights_hs_slug = module.insights_page
? content_by_id(module.insights_page).slug
: 'insights' %}

{% macro render_insight_card(card) %}
{% set insight = card.hubdb_row.columns %}

<tosoh-insight-card>
  {% if insight.type %}
  <p slot="eyebrow">{{ insight.type.label }}</p>
  {% endif %}
  {% if insight.title or insight.hs_name %}
  <h4 slot="title">{{ insight.title or insight.hs_name }}</h4>
  {% endif %}
  {% if insight.description %}
  <p slot="description">{{ insight.description }}</p>
  {% endif %}
  {% if insight.hs_path %}
  {% set href = '/' ~ insights_hs_slug ~ '/' ~ insight.hs_path %}
  <a slot="link" class="theme-cream with-arrow" href="{{ href }}">Learn more</a>
  {% endif %}
  {% if insight.featured_image.url %}
  <img slot="image" src="{{ insight.featured_image.url }}" alt="{{ insight.featured_image.alt_text or insight.title }}"
    width="480">
  {% endif %}
</tosoh-insight-card>
{% endmacro %}

<tosoh-line {{ macros.decoration_attrs(module.decoration_settings) }}>
  <tosoh-container {{ macros.container_attrs(module.module_settings) }}>
    <div class="flex flex-col gap-md w-full mx-auto" style="z-index:20;">
      {% if module.title %}
      <h3>{{ module.title }}</h3>
      {% endif %}

      <div class="grid grid-cols-1 md:grid-cols-3 justify-center gap-base">
        {% for card in module.cards %}
        {% if card.animation_settings.is_animated %}
        <tosoh-in-view x="{{ card.animation_settings.x_travel }}" y="{{ card.animation_settings.y_travel }}"
          delay="{{ card.animation_settings.delay }}" duration="{{ card.animation_settings.duration }}">
          {{ render_insight_card(card) }}
        </tosoh-in-view>
        {% else %}
        {{ render_insight_card(card) }}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </tosoh-container>
</tosoh-line>
