{% set bg = module.bg %}
{% set type = module.banner_type %}
{% set left_image = module.left_image %}
{% set right_image = module.right_image %}
{% set title = module.title %}
{% set description = module.description %}
{% set reversed = module.is_reversed ? 'flex-col-reverse' : 'flex-col' %}

<div
  class="p-md md:p-2xl max-w-max-page pt-header-height relative m-auto flex min-h-[32rem] w-full items-center justify-center overflow-hidden">
  {% if bg.src %}
    <img src="{{ bg.src }}" class="absolute top-0 left-0 h-full w-full object-cover" />
  {% endif %}

  {% if module.has_overlay %}
    <div class="absolute top-0 left-0 h-full w-full bg-[#01151EA8] object-cover"></div>
  {% endif %}

  {% if type == 'simple' %}
    <div class="gap-md relative flex w-full flex-col text-center">
      {% if title %}
        <div class="font-sans-narrow text-3xl font-semibold text-white md:text-6xl">{{ title }}</div>
      {% endif %}
      {% if description %}
        <div class="text-2xl font-thin text-white">{{ description }}</div>
      {% endif %}
    </div>
  {% endif %}

  {% if type == 'double_image' %}
    <div class="gap-md {{ reversed }} relative flex w-full items-center justify-center md:flex-row">
      {% if left_image.src %}
        <img src="{{ left_image.src }}" width="480" class="h-full w-1/2 object-contain md:w-1/3" />
      {% endif %}
      <div class="hidden h-full w-1/3 md:block"></div>
      {% if right_image.src %}
        <img src="{{ right_image.src }}" width="480" class="h-full w-1/2 object-contain md:w-1/3" />
      {% endif %}
    </div>
  {% endif %}
</div>
