{% import "/TosohTheme2025/templates/partials/macros.html" as macros %}
{% set title = module.title %}

<div class="max-w-max-page {{ macros.classes(module.module_settings) }} gap-md m-auto flex flex-col">
  <h2 class="text-4xl font-semibold">{{ title }}</h2>

  <div class="gap-md grid w-full grid-cols-1 md:grid-cols-3">
    {% for speaker in module.speakers %}
      {% set speaker_name = speaker.speaker_name %}
      {% set workplace = speaker.workplace %}
      {% set img = speaker.img.src %}
      <div
        class="bg-ghost-white {{ macros.classes(module.card_settings) }} gap-lg m-auto flex min-h-[30rem] w-full max-w-[32rem] flex-col items-center justify-center rounded-2xl">
        {% if img %}
          <img src="{{ img }}" class="border-imperial-red aspect-square w-3xl rounded-full border-4 object-cover" />
        {% endif %}

        <div class="gap-sm flex flex-col text-center">
          {% if speaker_name %}
            <span class="font-sans-narrow text-3xl font-semibold">{{ speaker_name }}</span>
          {% endif %}

          {% if workplace %}
            <p class="text-nickel text-2xl">{{ workplace }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
