<!--
  templateType: page
  isAvailableForNewContent: true
  label: 403 - Access Denied
-->

{% extends "../layouts/base-no-globals.html" %}
{% import "/TosohTheme2025/templates/partials/macros.html" as macros %}

{% block header %}
{% endblock %}

{% block body %}

  {# Config Settings #}
  {% set four_zero_three_template_config = widget_data.global_config_settings.four_zero_three_template_config %}
  {% set title = four_zero_three_template_config.title or "You don't have access to view this page" %}
  {% set sign_in_label = four_zero_three_template_config.sign_in_label or 'Sign In' %}
  {% set sign_in_url = four_zero_three_template_config.sign_in_url or {url:{href: '/_hcms/mem/login'}} %}

  {# Auth Wrapper Config Settings #}

  {% call macros.auth_wrapper(widget_data) %}
    <div class="gap-base flex flex-col">
      {%
        module "content"
        path="@hubspot/rich_text",
        html="<h2 class='font-semibold'>{{ title }}</h2>"
      %}
      <a
        href="{{ sign_in_url.url.href }}"
        target="{{ sign_in_url.open_in_new_tab ? '_blank' : '_self' }}"
        class="button w-fit">
        {{ sign_in_label }}
      </a>
    </div>
  {% endcall %}
{% endblock %}
