<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: System - Password Prompt
-->

{% extends "../layouts/base-no-globals.html" %} {% import "/TosohTheme2025/templates/partials/macros.html" as macros %}

{% block body %}
  {% call macros.left_part_auth() %}
    {%
      module 'content'
      path='@hubspot/rich_text',
      html='<h2>This page is password-protected.</h2>
      <p class="text-lg mt-sm text-nickel">Please enter the password required to view this page.</p>'
    %}
    {% module 'password_prompt' path='@hubspot/password_prompt' %}
    {%
      module_block module 'membership_admin_content'
      label='Contact admin',
      path='@hubspot/rich_text'
    %}

      {% module_attribute 'html' %}
        <br />
        <p>
          Having trouble?
          <a href="{{ 'mailto:' ~ site_settings.membershipWebsiteAdmin }}">Contact the admin</a>
          .
        </p>
      {% end_module_attribute %}
    {% end_module_block %}
  {% endcall %}
{% endblock %}
