{% if !module.settings.is_hidden %}

  {% set related_posts = [] %}
  {% set posts_to_display = module.posts_to_display %}

  {% set blog_id = module.blog or content.parent_blog.id or "default" %}

  {% set blog = blog_by_id(blog_id) %}
  {% set tag_list = module.filter_by_tags|map('tag') or content.tagList|map('slug') %}
  {% set posts = tag_list|length > 0 ? blog_recent_tag_posts(blog_id, tag_list, posts_to_display) : blog_recent_posts(blog_id, posts_to_display) %}

  {% for post in posts %}
    {% if related_posts|length < posts_to_display && post.id !=content.id %}
      {% do related_posts.append(post) %}
    {% endif %}
  {% endfor %}

  {% if related_posts|length > 0 %}
    <div class="max-w-max-page p-md md:pl-2xl md:pr-2xl gap-md m-auto flex flex-col">
      <div class="gap-sm flex w-full flex-col justify-between md:flex-row">
        <div class="gap-xs flex flex-col">
          {% if module.eyebrow %}
            <h6 class="text-imperial-red tracking-widest">{{ module.eyebrow }}</h6>
          {% endif %}
          {% if module.title %}
            <h3 class="font-bold">{{ module.title }}</h3>
          {% endif %}
        </div>

        <div class="gap-sm align-center my-auto flex h-full items-center md:justify-center">
          <button
            aria-label="Previous slide"
            class="group plain bg-imperial-red embla__prev disabled:border-nickel! border-imperial-red flex h-10 w-10 items-center justify-center rounded-full! border disabled:bg-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21"
              height="35"
              viewBox="0 0 21 35"
              fill="none"
              class="h-6 w-6">
              <path
                d="M17.4663 0.693359L20.2059 3.43304L6.15403 17.4849L20.2059 31.5368L17.4663 34.2765L0.76305 17.4849L17.4663 0.693359Z"
                class="group-disabled:fill-nickel fill-white" />
            </svg>
          </button>
          <button
            class="group plain bg-imperial-red embla__next disabled:border-nickel! border-imperial-red flex h-10 w-10 items-center justify-center rounded-full! border disabled:bg-white"
            aria-label="Next slide">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21"
              height="35"
              viewBox="0 0 21 35"
              fill="none"
              class="h-6 w-6">
              <path
                d="M3.53362 0.693359L0.793945 3.43304L14.8458 17.4849L0.793945 31.5368L3.53362 34.2765L20.2368 17.4849L3.53362 0.693359Z"
                class="group-disabled:fill-nickel fill-white" />
            </svg>
          </button>
        </div>
      </div>

      <div class="gap-sm flex flex-col">
        <div class="embla w-full overflow-hidden">
          <div class="embla__container gap-sm flex items-stretch active:cursor-grabbing">
            {% for post in related_posts %}
              <a
                href="{{ post.absolute_url }}"
                class="group embla__slide border-border relative flex min-h-full w-full min-w-[100%] basis-[100%] cursor-pointer flex-col self-stretch overflow-hidden rounded-2xl border transition-all duration-200 hover:shadow-sm md:min-w-[50%] md:basis-[50%] xl:min-w-[30%] xl:basis-[30%]">
                {% if module.display_image %}
                  <div class="relative h-[12rem] max-h-[12rem] w-full overflow-hidden">
                    <img
                      src="{{ post.featured_image }}"
                      alt="{{ post.title }}"
                      class="absolute top-0 left-0 h-full w-full object-cover transition-all duration-200 group-hover:scale-105"
                      width="360" />
                  </div>
                {% endif %}

                <div class="p-md gap-sm flex flex-col">
                  <div class="gap-sm flex justify-between">
                    <p class="text-imperial-red font-normal">{{ post.publish_date|datetimeformat("%B %e, %Y") }}</p>
                  </div>
                  <h4 class="font-sans-narrow font-semibold">{{ post.name }}</h4>

                  <span class="text-nickel break-word line-clamp-2">
                    {{ post.meta_description|truncate(70) }}{{ post.meta_description|length >= 70 ? '...' : '.' }}
                    <span class="text-imperial-red underline">{{ module.read_more_label }}</span>
                  </span>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
        {% if blog && module.blog_link_label %}
          <a class="button w-fit! md:self-end" href="{{ blog.absolute_url }}">{{ module.blog_link_label }}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
