{% import "../../../templates/partials/macros.html" as macros %}

{% set blog = blog_by_id(module.blog or content.parent_blog.id) %}

{% set related_posts = module.filter_by_tag
? blog_recent_tag_posts(module.blog, module.filter_by_tag.slug, 4)
: blog_recent_posts(module.blog, 4) %}

<tosoh-container {{ macros.container_attrs(module.module_settings) }}>
  <div class="flex flex-col gap-md w-full">
    {% if module.title %}
    <h3>{{ module.title }}</h3>
    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-4 justify-center gap-base">
      {% for post in related_posts %}
      <tosoh-content alignment="start" gap="sm" class="w-full max-w-lg mb-base">
        <div slot="eyebrow" class="flex flex-col gap-xs w-full">
          <img class="w-full aspect-standard object-cover" src="{{ post.featured_image }}" width="360"
            alt="{{ post.title }}">
          <div>
            {% for tag in post.tag_list %}
            {% set tag_href = blog_tag_url(blog_id, tag.slug) %}

            <a href="{{ tag_href }}">{{ tag.label }}</a>{%- if not loop.last %}, {% endif -%}
            {% endfor %}
          </div>
        </div>
        <a slot="title" href="{{ post.absolute_url }}">
          <span class="font-semibold">{{ post.title }}</strong>
        </a>
      </tosoh-content>
      {% endfor %}
    </div>

    {% if module.show_all_label %}
    <a class="button" style="align-self:flex-end;" href="{{ blog.absolute_url }}">
      {{ module.show_all_label }}
    </a>
    {% endif %}
  </div>
</tosoh-container>
