<!--
    templateType: page
    isAvailableForNewContent: true
    label: HubDB Insights
-->

{# Page-level gated form field #}
{% form 'gated_form' label='Gated document form', export_to_template_context=true, no_wrapper=true %}
{% boolean 'gated_dialog_enabled' label='Is dated form in dialog?', value=false, export_to_template_context=true,
no_wrapper=true %}

{% extends "../layouts/base.html" %}

{% block body %}

{% set insight = dynamic_page_hubdb_row %}

{# Insight: View #}
{% if insight %}

{% set title_size = insight.title|length > 30 ? "as-h2" : undefined %}

<main>
  {% module "hero_banner"
  path="../../modules/HeroBanner"
  bg_color="petrol"
  is_decorated="true"
  is_share_displayed="true"
  eyebrow="{{ insight.type.label }}"
  title="<h1 class=\"{{ title_size }}\">{{ insight.title }}</h1>"
  description="<p>{{ insight.description }}</p>"
  image={ src: insight.featured_image.url, alt: insight.title }
  image_variant="circle-bottom"
  decoration_settings={
  is_enabled: true,
  path: "ML,MM,MR,BR",
  main_segments: [
  { size: 100, width: 2, color: "transparent" },
  { size: 73, width: 1, color: "cream" }
  ],
  accent_segments: [
  { size: 100, width: 1, color: "gray" },
  { size: 80, width: 2, color: "lime" }
  ],
  z_index: 10,
  offset_split: "lg",
  offset_top: "none",
  offset_right: "2xl",
  offset_bottom: "none",
  offset_left: "none"
  }
  %}

  <tosoh-line path="TR,MR,BR" mainsegments="100" mainwidths="1" maincolors="petrol" accentsegments="100"
    accentwidths="2" accentcolors="lime" zindex="10" offsetsplit="48" offsett="0" offsetr="96" offsetb="0" offsetl="0"
    dualpathsenabled="true">
    <tosoh-container pt="md" pr="md" pb="md" pl="md" mdpt="xl" mdpr="2xl" mdpb="xl" mdpl="2xl">
      <div class="flex flex-col md:flex-row items-start gap-md w-full" style="z-index:20;">
        <div class="flex-5 as-richtext">
          {{ insight.content_body }}
        </div>
        {% if insight.supporting_image.url %}
        <div class="flex-3">
          <img src="{{ insight.supporting_image.url }}" alt="{{ insight.supporting_image.alt_text or insight.title }}"
            class="w-full object-contain" width="480">
        </div>
        {% endif %}
      </div>
    </tosoh-container>
  </tosoh-line>
</main>

{# Events: Listing #}
{% elif dynamic_page_hubdb_table_id %}
<main>

</main>
{% endif %}

{% endblock body %}
