<!--
  templateType: page
  isAvailableForNewContent: false
  label: Macros
-->

{%- macro classes(settings) -%}
  {{-
    [settings.pt_mobile,
    settings.pt_desktop,
    settings.pr_mobile,
    settings.pr_desktop,
    settings.pb_mobile,
    settings.pb_desktop,
    settings.pl_mobile,
    settings.pl_desktop,
    settings.bg_color,
    settings.text_color,
    settings.gap,
    settings.justify,
    settings.align
    ]|join(' ')
  -}}
{%- endmacro -%}

{%- macro left_part_auth() -%}
  <div class="max-w-max-page relative m-auto flex min-h-[100vh] flex-col-reverse lg:flex-row">
    <img
      src="https://145184808.fs1.hubspotusercontent-eu1.net/hubfs/145184808/image%202.png"
      class="top-sm right-sm absolute max-h-[5rem] lg:max-h-[7rem]" />
    <div class="px-md md:px-2xl relative flex w-full flex-col items-center justify-between text-white lg:max-w-[48rem]">
      <img
        src="https://145184808.fs1.hubspotusercontent-eu1.net/hubfs/145184808/761c5869ba5f1c0356006068cdb3adcfe5d37865%20(2).jpg"
        class="absolute top-0 left-0 h-full w-full object-cover" />
      <div class="absolute top-0 left-0 h-full w-full bg-[#013B57E3]"></div>
      <div class="pt-md md:pt-2xl lg:pt-3xl gap-sm relative flex w-full flex-col">
        <p class="text-thin text-lg tracking-widest">CONNECTING SCIENCE WITH CARE</p>
        <h2 class="leading-12 font-semibold">
          At Tosoh, we enable precision and reliability for better patient outcomes.
        </h2>
      </div>
      <img
        src="https://145184808.fs1.hubspotusercontent-eu1.net/hubfs/145184808/close-up-portrait-focused-young-male-doctor%202.png"
        class="relative max-h-[16rem] object-contain lg:max-h-[36rem]" />
    </div>
    <div class="p-md md:p-lg flex w-full items-center">
      <div class="systems-page m-auto w-full">{{ caller() }}</div>
    </div>
  </div>
{%- endmacro -%}
