{% import "/TosohTheme2025/templates/partials/macros.html" as macros %}

{% set module_id = module.module_settings.custom_id ? 'id="{{module.module_settings.custom_id}}"' :'' %}

{# Macro for wrapping content with conditional animation #}
{%- macro column_wrapper(column) -%}
  {%- set size = "w-full h-full" -%}
  {%- set alignment =  column.column_settings.align or "self-start" -%}
  {%- set justify = column.column_settings.justify or "justify-self-start" -%}

  {%- if column.animation_settings.is_animated %}
    <tosoh-in-view
      class="{{ size }} {{ alignment }} {{ justify }} block"
      x="{{ column.animation_settings.x_travel }}"
      y="{{ column.animation_settings.y_travel }}"
      delay="{{ column.animation_settings.delay }}"
      duration="{{ column.animation_settings.duration }}">
      {{ caller() }}
    </tosoh-in-view>
  {%- else %}
    <div class="{{ size }} {{ alignment }} {{ justify }}">{{ caller() }}</div>
  {%- endif %}
{%- endmacro -%}

{# Macro for content blocks with conditional slots #}
{%- macro render_content_block(content) -%}
  {% set text_align = content.text_align or "text-left" %}
  {% set horizontal_align = content.horizontal_align or "items-start" %}

  <div class="gap-base {{ horizontal_align }} flex flex-col">
    {%- if content.eyebrow %}
      <div class="text-imperial-red {{ text_align }} w-full text-xl font-thin tracking-widest">
        {{ content.eyebrow }}
      </div>
    {%- endif %}
    {%- if content.title %}
      <div class="font-sans-narrow {{ text_align }} w-full text-4xl font-semibold">{{ content.title }}</div>
    {%- endif %}
    {%- if content.description %}
      <div class="text-nickel {{ text_align }} w-full text-lg">{{ content.description }}</div>
    {%- endif %}
    {%- if content.is_cta and content.cta %}
      <div>{% cta "flex_cta" guid="{{ content.cta }}" %}</div>
    {%- elif not content.is_cta and content.link.url.href %}
      <a class="{{ content.link_variant }}" href="{{ content.link.url.href }}">{{ content.link_label }}</a>
    {%- endif %}
  </div>
{%- endmacro -%}

{# Macro for navigation list rendering #}
{%- macro render_navigation_list(navigation_list) -%}
  <div class="gap-base flex w-full flex-col">
    {% for item in navigation_list %}
      <a
        href="{{ item.link.url.href }}"
        class="border-light-silver p-md inline-block w-full rounded-2xl border bg-white shadow-xs">
        <div class="flex items-center justify-between">
          <div class="gap-md flex items-center">
            <div>
              <h3 class="text-raisin-black text-lg font-semibold">{{ item.title }}</h3>
            </div>
          </div>
          <div class="relative">
            <div class="bg-imperial-red flex h-3 w-3 items-center justify-center rounded-full">
              <span class="text-xs font-bold text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 50 50" fill="none">
                  <rect width="50" height="50" rx="25" fill="#E4032D" />
                  <path
                    d="M18.2929 30.2929C17.9024 30.6834 17.9024 31.3166 18.2929 31.7071C18.6834 32.0976 19.3166 32.0976 19.7071 31.7071L18.2929 30.2929ZM32 19C32 18.4477 31.5523 18 31 18L22 18C21.4477 18 21 18.4477 21 19C21 19.5523 21.4477 20 22 20L30 20L30 28C30 28.5523 30.4477 29 31 29C31.5523 29 32 28.5523 32 28L32 19ZM19 31L19.7071 31.7071L31.7071 19.7071L31 19L30.2929 18.2929L18.2929 30.2929L19 31Z"
                    fill="white" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{%- endmacro -%}

{# Macro for image rendering #}
{%- macro render_image(image) -%}
  {%- if image.type == "single" -%}
    {%- set object_fit = image.is_image_contained ? "object-contain" : "object-cover" -%}
    <img
      src="{{ image.image.src }}"
      alt="{{ image.image.alt }}"
      width="720"
      class="{{ object_fit }} relative block h-full w-full" />
  {%- endif %}
{%- endmacro -%}

{# Macro for accordions rendering #}
{%- macro render_accordions(column) -%}
  <div class="gap-sm flex w-full flex-col">
    {%- for accordion in column.accordions -%}
      <div class="accordion-wrapper">
        <tosoh-accordion groupId="{{ loop.index }}" variant="action" class="accordion-action">
          {{ accordion.button_content }}
        </tosoh-accordion>
        <tosoh-accordion groupId="{{ loop.index }}" variant="reveal">{{ accordion.reveal_content }}</tosoh-accordion>
      </div>
    {%- endfor -%}
  </div>
{%- endmacro -%}

{# Macro for video rendering #}
{%- macro render_video() -%}
  {% set video = column.video %}

  {% if video.video_host == "hubspot" and video.video.player_id %}
    {% video_player 'content_video' player_id="{{ video.video.player_id }}" %}
  {% elif video.video_host == "wistia" and video.wistia_cached_url %}
    {% set wistia_video_id = video.wistia_cached_url|split('/')|reverse|first %}

    {% require_js %}
      <script>
        window._wq = window._wq || [];
        _wq.push({
          id: '{{ wistia_video_id }}',
          options: {
            playerColor: 'ed1a3b',
            backgroundOpacity: 1,
          },
        });
      </script>
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
    {% end_require_js %}

    <div class="wistia_responsive_padding wistia_embed wistia_async_{{ wistia_video_id }} aspect-video w-full">
      &nbsp;
    </div>
  {% endif %}
{%- endmacro -%}

{%- macro render_form() -%}
  {% if column.form.is_dialog_form %}
    {% set modal_id = 'gated_form_' ~ loop.index %}
    <div>
      <tosoh-modal variant="modal" modalId="{{ modal_id }}">
        <h4 slot="title" class="p-sm font-semibold">{{ column.form.form_dialog_title }}</h4>
        <div slot="content" class="p-lg">
          {%
            form "flex_form"
            form_to_use="{{ column.form.form.form_id }}"
            response_response_type="{{ column.form.form.response_type }}"
            response_message="{{ column.form.form.message }}"
            response_redirect_id="{{ column.form.form.redirect_id }}"
            response_redirect_url="{{ column.form.form.redirect_url }}"
            gotowebinar_webinar_key="{{ column.form.form.gotowebinar_webinar_key }}"
          %}
        </div>
      </tosoh-modal>
      <tosoh-modal slot="cta" variant="action" modalId="{{ modal_id }}">
        <button>{{ column.form.form_dialog_button_label }}</button>
      </tosoh-modal>
    </div>
  {% else %}
    {%
      form "flex_form"
      form_to_use="{{ column.form.form.form_id }}"
      response_response_type="{{ column.form.form.response_type }}"
      response_message="{{ column.form.form.message }}"
      response_redirect_id="{{ column.form.form.redirect_id }}"
      response_redirect_url="{{ column.form.form.redirect_url }}"
      gotowebinar_webinar_key="{{ column.form.form.gotowebinar_webinar_key }}"
    %}
  {% endif %}
{%- endmacro -%}

{# Macro for flex layout wrapper #}
{%- macro flex_layout(settings) -%}
  {%- set gap = settings.gap -%}

  {%- if settings.overflow_scroll_x %}
    <tosoh-scroll-x showNavButtons="true">
      <div class="{{ gap }} flex w-full flex-row">{{ caller() }}</div>
    </tosoh-scroll-x>
  {%- else %}
    {%- set dir = settings.is_reversed_mobile ? "flex-col-reverse md:flex-row" : "flex-col md:flex-row" -%}
    <div class="{{ dir }} {{ gap }} {{ settings.justify }} relative flex w-full">{{ caller() }}</div>
  {%- endif %}
{%- endmacro -%}

{# Render Columns #}
{%- macro render_columns(columns, parent_settings) -%}

  {%- for column in columns %}

    {# Flex Factor/Column Size #}
    {%- set column_size = column.column_settings.column_size -%}
    {%-
      set flex_factor = column.column_settings.flex_factor > 0
      ? "flex-" ~ (column.column_settings.flex_factor or 1) : column_size
    -%}

    {# Border Color #}
    {%-
      set border_color = column.column_settings.border_color ?
      "border " ~ column.column_settings.border_color : "border-transparent"
    -%}

    {% set column_settings = column.column_settings ? macros.classes(column.column_settings) : '' %}
    {% set width= column.type == 'video' or column.type == 'navigation_list' ? 'w-full h-full' : '' %}
    {% set match_tallest_column = column.column_settings.match_tallest_column ? 'min-h-full self-stretch' : '' %}
    {%- set rounded = column.column_settings.is_rounded ? "rounded-2xl overflow-hidden" : "" -%}

    {% call wrap_with_carousel_slide() %}
      <div
        class="{{ flex_factor }} {{ border_color }} {{ column_settings }} {{ width }} {{ rounded }} {{ match_tallest_column }} flex max-w-full">
        {% call column_wrapper(column) %}
          {{ render_column_type(column) }}
        {% endcall %}
      </div>
    {% endcall %}
  {% endfor -%}
{%- endmacro -%}

{# Render Column Type #}
{%- macro render_column_type(column) -%}
  {# Content Block #}
  {%- if column.type == "content" %}
    {{ render_content_block(column.content) }}

    {# Media #}
  {%- elif column.type == "image" %}
    {{ render_image(column.image) }}

    {# Accordions #}
  {%- elif column.type == "accordions" %}
    {{ render_accordions(column) }}

    {# Navigation List #}
  {%- elif column.type == "navigation_list" %}
    {{ render_navigation_list(column.navigation_list) }}

    {# Video #}
  {%- elif column.type == "video" %}
    {{ render_video(column.video) }}

    {# Form #}
  {%- elif column.type == "form" -%}
    <div class="gap-md fc-form flex flex-col">
      {% if column.form.eyebrow or column.form.title or column.form.description %}
        {{ render_content_block(column.form) }}
      {% endif %}
      {% if column.form.form %}
        {{ render_form() }}
      {% endif %}
    </div>
    {# Richtext #}
  {%- elif column.type == "rtf" %}
    {{ column.richtext.content }}
  {%- endif %}
{% endmacro -%}

{% macro render_grid_accent() %}
  {%- set grid_accent_color_dark = module.module_settings.grid_accent_color == 'dark' ? 'dark' : '' -%}
  {% if module.module_settings.has_grid_accent %}
    <div class="grid-accent position-bl {{ grid_accent_color_dark }}"></div>
    <div class="grid-accent position-tr {{ grid_accent_color_dark }}"></div>
  {% endif %}
{% endmacro %}

{% macro wrap_with_carousel() %}
  {%- set is_carousel_enabled = module.module_settings.carousel_is_enabled -%}
  {% if is_carousel_enabled %}
    <div class="embla relative h-full w-full overflow-hidden">
      <div class="embla__container gap-sm flex items-stretch active:cursor-grabbing">{{ caller() }}</div>
      <button
        aria-label="Previous slide"
        class="group plain bg-imperial-red embla__prev disabled:border-nickel! border-imperial-red left-sm absolute top-1/2 flex h-10 w-10 -translate-y-1/2 items-center justify-center rounded-full! border disabled:bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="35" viewBox="0 0 21 35" fill="none" class="h-6 w-6">
          <path
            d="M17.4663 0.693359L20.2059 3.43304L6.15403 17.4849L20.2059 31.5368L17.4663 34.2765L0.76305 17.4849L17.4663 0.693359Z"
            class="group-disabled:fill-nickel fill-white" />
        </svg>
      </button>
      <button
        class="group plain bg-imperial-red embla__next disabled:border-nickel! border-imperial-red right-sm absolute top-1/2 flex h-10 w-10 -translate-y-1/2 items-center justify-center rounded-full! border disabled:bg-white"
        aria-label="Next slide">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="35" viewBox="0 0 21 35" fill="none" class="h-6 w-6">
          <path
            d="M3.53362 0.693359L0.793945 3.43304L14.8458 17.4849L0.793945 31.5368L3.53362 34.2765L20.2368 17.4849L3.53362 0.693359Z"
            class="group-disabled:fill-nickel fill-white" />
        </svg>
      </button>
    </div>
  {% else %}
    {{ caller() }}
  {% endif %}
{% endmacro %}

{% macro wrap_with_carousel_slide() %}
  {%- set is_carousel_enabled = module.module_settings.carousel_is_enabled -%}
  {% if is_carousel_enabled %}
    <div
      class="group embla__slide border-border relative flex min-h-full w-full min-w-[100%] basis-[100%] cursor-pointer flex-col self-stretch overflow-hidden rounded-2xl border transition-all duration-200 hover:shadow-sm md:min-w-[50%] md:basis-[50%] xl:min-w-[30%] xl:basis-[30%]">
      {{ caller() }}
    </div>
  {% else %}
    {{ caller() }}
  {% endif %}
{% endmacro %}

{# Module Container #}

<div
  {{ module_id }}
  class="max-w-max-page {{ macros.classes(module.module_settings) }} scroll-mt-5xl m-auto overflow-hidden">
  {{ render_grid_accent() }}
  {# Tab Groups #}
  {%- if module.tab_group_settings.is_enabled %}
    <div class="flex w-full flex-col">
      {# Tab Actions #}
      <tosoh-scroll-x scrollbarHeight="1px">
        <div class="gap-sm px-md mx-auto flex w-full justify-center">
          {%- for tab_group in module.tab_group_settings.tab_groups -%}
            {%- set is_active = loop.first ? "active=\"true\"" : null -%}
            <tosoh-tab-group variant="action" groupId="{{ tab_group.group_id }}" {{ is_active }}>
              {{ tab_group.group_label }}
            </tosoh-tab-group>
          {%- endfor %}
        </div>
      </tosoh-scroll-x>

      {# Tab Content #}
      {%- for tab_group in module.tab_group_settings.tab_groups -%}
        {%- set columns = module.columns|selectattr('tab_group_id', 'equalto', tab_group.group_id) -%}
        {%- set is_active = loop.first ? "active=\"true\"" : null -%}

        <tosoh-tab-group variant="tab" groupId="{{ tab_group.group_id }}" {{ is_active }}>
          <div {# {{ macros.container_attrs(tab_group.tab_settings) }} #}>
            {% call flex_layout(tab_group.tab_settings) %}
              {{ render_columns(columns, tab_group.tab_settings) }}
            {% endcall %}
          </div>
        </tosoh-tab-group>
      {%- endfor %}
    </div>

    {# Standard Columns #}
  {%- else %}
    {% call flex_layout(module.module_settings) %}
      {% call wrap_with_carousel() %}
        {{ render_columns(module.columns, module.module_settings) }}
      {% endcall %}
    {% endcall %}
  {%- endif %}
</div>
