{% import "../../templates/partials/macros.html" as macros %}

{# Macro for wrapping content with conditional animation #}
{%- macro column_wrapper(column) -%}
{%- set size = column.type in ["shape", "media"] ? "w-full h-full" : "w-fit h-fit" -%}
{%- set alignment = "align-self-" ~ (column.column_settings.align or "start") -%}
{%- set justify = "justify-self-" ~ (column.column_settings.justify or "start") -%}

{%- if column.animation_settings.is_animated %}
<tosoh-in-view class="block {{ size }} {{ alignment }} {{ justify }}" x="{{ column.animation_settings.x_travel }}"
  y="{{ column.animation_settings.y_travel }}" delay="{{ column.animation_settings.delay }}"
  duration="{{ column.animation_settings.duration }}">
  {% if column.reveal_settings.is_concealed %}
  {% set max_height = (column.reveal_settings.max_height or 32) ~ "rem" %}
  <tosoh-reveal-below maxHeight="{{ max_height }}">
    {{ caller() }}
    <span slot="label">{{ column.reveal_settings.reveal_label }}</span>
  </tosoh-reveal-below>
  {% else %}
  {{ caller() }}
  {% endif %}
</tosoh-in-view>
{%- else %}
<div class="{{ size }} {{ alignment }} {{ justify }}">
  {% if column.reveal_settings.is_concealed %}
  {% set max_height = (column.reveal_settings.max_height or 24) ~ "rem" %}
  <tosoh-reveal-below maxHeight="{{ max_height }}">
    {{ caller() }}
    <span slot="label">{{ column.reveal_settings.reveal_label }}</span>
  </tosoh-reveal-below>
  {% else %}
  {{ caller() }}
  {% endif %}
</div>
{%- endif %}
{%- endmacro -%}

{# Macro for content blocks with conditional slots #}
{%- macro render_content_block(content) -%}
{% set alignment = content.align or "start" %}
<tosoh-content alignment="{{ alignment }}">
  {%- if content.eyebrow %}
  <div slot="eyebrow">
    {{ content.eyebrow }}
  </div>
  {%- endif %}
  {%- if content.title %}
  <div slot="title">
    {{ content.title }}
  </div>
  {%- endif %}
  {%- if content.description %}
  <div slot="description">
    {{ content.description }}
  </div>
  {%- endif %}
  {%- if content.is_cta and content.cta %}
  <div slot="cta">
    {% cta "flex_cta" guid="{{ content.cta }}" %}
  </div>
  {%- elif not content.is_cta and content.link.url.href %}
  <a slot="cta" class="{{ content.link_variant }}" href="{{ content.link.url.href }}">
    {{ content.link_label }}
  </a>
  {%- endif %}
</tosoh-content>
{%- endmacro -%}

{# Macro for media rendering #}
{%- macro render_media(media) -%}
{%- if media.type == "image" -%}
{%- set object_fit = media.is_image_contained ? "object-contain" : "object-cover" -%}
<img src="{{ media.image.src }}" alt="{{ media.image.alt }}" width="720"
  class="relative block w-full h-full {{ object_fit }} {{ media.media_shape }}">
{%- elif media.type == "pattern" -%}
{% set pattern = media.pattern or "emerger" %}
{% set pattern_color = media.pattern_color or "lime" %}
{% set pattern_scale = media.pattern_scale or 1 %}

<tosoh-pattern pattern="{{ pattern }}" color="{{ pattern_color }}" scale="{{ pattern_scale }}"
  class="w-full h-full {{ media.media_shape }}"></tosoh-pattern>
{%- elif media.type == "hs_video" %}
{% video_player "content_video" player_id="{{ media.hs_video.player_id }}" extra_classes="{{
media.media_shape }}" play_button_color="transparent" %}
{%- elif media.type == "video" %}
<video class="w-full h-full {{ media.media_shape }}" controls>
  <source src="{{ media.video }}">
  Your browser does not support the video tag.
</video>
{%- endif %}
{%- endmacro -%}

{# Macro for flex layout wrapper #}
{%- macro flex_layout(settings) -%}
{%- set gap = "gap-" ~ (settings.gap or "none") -%}

{%- if settings.overflow_scroll_x %}
<tosoh-scroll-x showNavButtons="true">
  <div class="flex flex-row {{ gap }} w-full">
    {{ caller() }}
  </div>
</tosoh-scroll-x>
{%- else %}
{%- set dir = settings.is_reversed_mobile ? "flex-col-reverse md:flex-row" : "flex-col md:flex-row" -%}
<div class="flex {{ dir }} {{ gap }} {{ settings.justify }} w-full">
  {{ caller() }}
</div>
{%- endif %}
{%- endmacro -%}

{# Render Columns #}
{%- macro render_columns(columns, parent_settings) -%}

{%- for column in columns %}

{# Flex Factor/Column Size #}
{%- set column_size = "w-" ~ (column.column_settings.column_size or "auto") -%}
{%- set flex_factor = column.column_settings.flex_factor > 0
? "flex-" ~ (column.column_settings.flex_factor or 1) : "flex-none " ~ column_size -%}

{# Border Color #}
{%- set border_color = column.column_settings.border_color ?
"border-" ~ column.column_settings.border_color : "border-transparent" -%}

{# Column Container #}
{% if column.decoration_settings.is_enabled %}
<tosoh-line class="flex {{ flex_factor }} {{ border_color }}" {{ macros.decoration_attrs(column.decoration_settings) }}>
  <tosoh-container {{ macros.container_attrs(column.column_settings) }} class="flex" w="100%" h="100%" mdW="100%"
    mdH="100%">
    {% call column_wrapper(column) %}
    {{ render_column_type(column) }}
    {% endcall %}
  </tosoh-container>
</tosoh-line>
{% else %}
<tosoh-container {{ macros.container_attrs(column.column_settings) }} class="flex {{ flex_factor }} {{ border_color }}"
  w="100%" h="100%" mdW="100%" mdH="100%">
  {% call column_wrapper(column) %}
  {{ render_column_type(column) }}
  {% endcall %}
</tosoh-container>
{% endif %}
{% endfor -%}
{%- endmacro -%}

{# Render Column Type #}
{%- macro render_column_type(column) -%}
{# Content Block #}
{%- if column.type == "content" %}
{{ render_content_block(column.content) }}

{# Media #}
{%- elif column.type == "media" %}
{{ render_media(column.media) }}

{# Quote #}
{%- elif column.type == "quote" %}
<tosoh-quote>
  <h3 slot="quote">{{ column.quote.quote }}</h3>
  <p slot="author">{{ column.quote.author }}</p>
</tosoh-quote>

{# Form #}
{%- elif column.type == "form" -%}
<div class="flex flex-col gap-md">
  {{ render_content_block(column.form) }}
  {% if column.form.form %}
  {% form "flex_form"
  form_to_use="{{ column.form.form.form_id }}"
  response_response_type="{{ column.form.form.response_type }}"
  response_message="{{ column.form.form.message }}"
  response_redirect_id="{{ column.form.form.redirect_id }}"
  response_redirect_url="{{ column.form.form.redirect_url }}"
  gotowebinar_webinar_key="{{ column.form.form.gotowebinar_webinar_key }}"
  %}
  {% endif %}
</div>

{# Shape #}
{%- elif column.type == "shape" %}
<div class="w-full h-full {{ column.shape.shape }} bg-{{ column.shape.shape_color }}">
</div>

{# Richtext #}
{%- elif column.type == "rtf" %}
{{ column.richtext.content }}
{%- endif %}
{% endmacro -%}

{# Module Container #}
<tosoh-line {{ macros.decoration_attrs(module.decoration_settings) }}>
  <tosoh-container {{ macros.container_attrs(module.module_settings) }}>

    {# Tab Groups #}
    {%- if module.tab_group_settings.is_enabled %}
    <div class="flex flex-col w-full">

      {# Tab Actions #}
      <tosoh-scroll-x scrollbarHeight="1px">
        <div class="flex justify-center gap-sm w-full mx-auto px-md">
          {%- for tab_group in module.tab_group_settings.tab_groups -%}
          {%- set is_active = loop.first ? "active=\"true\"" : null -%}
          <tosoh-tab-group variant="action" groupId="{{ tab_group.group_id }}" {{ is_active }}>
            {{ tab_group.group_label }}
          </tosoh-tab-group>
          {%- endfor %}
        </div>
      </tosoh-scroll-x>

      {# Tab Content #}
      {%- for tab_group in module.tab_group_settings.tab_groups -%}
      {%- set columns = module.columns|selectattr('tab_group_id', 'equalto', tab_group.group_id) -%}
      {%- set is_active = loop.first ? "active=\"true\"" : null -%}

      <tosoh-tab-group variant="tab" groupId="{{ tab_group.group_id }}" {{ is_active }}>
        <tosoh-container {{ macros.container_attrs(tab_group.tab_settings) }}>
          {% call flex_layout(tab_group.tab_settings) %}
          {{ render_columns(columns, tab_group.tab_settings) }}
          {% endcall %}
        </tosoh-container>
      </tosoh-tab-group>
      {%- endfor %}
    </div>

    {# Standard Columns #}
    {%- else %}
    {% call flex_layout(module.module_settings) %}
    {{ render_columns(module.columns, module.module_settings) }}
    {% endcall %}
    {%- endif %}
  </tosoh-container>
</tosoh-line>
