{% import "/TosohTheme2025/templates/partials/macros.html" as macros %}

{% set all_events = hubdb_table_rows("events",'&deactivate__eq=false') %}
{% set filtered_events = module.exclude_event_id ? all_events|selectattr('hs_id', 'ne', module.exclude_event_id): all_events %}

{% if filtered_events|length > 0 %}
  <div class="max-w-max-page p-md md:pl-2xl md:pr-2xl gap-md m-auto flex flex-col">
    <div class="gap-sm flex w-full flex-col justify-between md:flex-row">
      <div class="gap-xs flex flex-col">
        {% if module.eyebrow %}
          <h6 class="text-imperial-red tracking-widest">{{ module.eyebrow }}</h6>
        {% endif %}
        {% if module.title %}
          <h3 class="font-bold">{{ module.title }}</h3>
        {% endif %}
      </div>

      <div class="gap-sm align-center my-auto flex h-full items-center md:justify-center">
        <button
          aria-label="Previous slide"
          class="group plain bg-imperial-red embla__prev disabled:border-nickel! border-imperial-red flex h-10 w-10 items-center justify-center rounded-full! border disabled:bg-white">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            height="35"
            viewBox="0 0 21 35"
            fill="none"
            class="h-6 w-6">
            <path
              d="M17.4663 0.693359L20.2059 3.43304L6.15403 17.4849L20.2059 31.5368L17.4663 34.2765L0.76305 17.4849L17.4663 0.693359Z"
              class="group-disabled:fill-nickel fill-white" />
          </svg>
        </button>
        <button
          class="group plain bg-imperial-red embla__next disabled:border-nickel! border-imperial-red flex h-10 w-10 items-center justify-center rounded-full! border disabled:bg-white"
          aria-label="Next slide">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            height="35"
            viewBox="0 0 21 35"
            fill="none"
            class="h-6 w-6">
            <path
              d="M3.53362 0.693359L0.793945 3.43304L14.8458 17.4849L0.793945 31.5368L3.53362 34.2765L20.2368 17.4849L3.53362 0.693359Z"
              class="group-disabled:fill-nickel fill-white" />
          </svg>
        </button>
      </div>
    </div>

    <div class="gap-sm flex flex-col">
      <div class="embla py-sm w-full overflow-hidden">
        <div class="embla__container gap-sm flex items-stretch active:cursor-grabbing">
          {% for event in filtered_events %}
            {{ macros.render_event_card(event, true) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
