{% set all_events =  hubdb_table_rows("events",'&deactivate__eq=false') %}

{% if all_events|length > 0 %}
  <div class="max-w-max-page p-md md:pl-2xl md:pr-2xl gap-md m-auto flex flex-col">
    <div class="gap-sm flex w-full flex-col justify-between md:flex-row">
      <div class="gap-xs flex flex-col">
        {% if module.eyebrow %}
          <h6 class="text-imperial-red tracking-widest">{{ module.eyebrow }}</h6>
        {% endif %}
        {% if module.title %}
          <h3 class="font-bold">{{ module.title }}</h3>
        {% endif %}
      </div>

      <div class="gap-sm align-center my-auto flex h-full items-center md:justify-center">
        <button
          aria-label="Previous slide"
          class="group plain bg-imperial-red embla__prev disabled:border-nickel! border-imperial-red flex h-10 w-10 items-center justify-center rounded-full! border disabled:bg-white">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            height="35"
            viewBox="0 0 21 35"
            fill="none"
            class="h-6 w-6">
            <path
              d="M17.4663 0.693359L20.2059 3.43304L6.15403 17.4849L20.2059 31.5368L17.4663 34.2765L0.76305 17.4849L17.4663 0.693359Z"
              class="group-disabled:fill-nickel fill-white" />
          </svg>
        </button>
        <button
          class="group plain bg-imperial-red embla__next disabled:border-nickel! border-imperial-red flex h-10 w-10 items-center justify-center rounded-full! border disabled:bg-white"
          aria-label="Next slide">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            height="35"
            viewBox="0 0 21 35"
            fill="none"
            class="h-6 w-6">
            <path
              d="M3.53362 0.693359L0.793945 3.43304L14.8458 17.4849L0.793945 31.5368L3.53362 34.2765L20.2368 17.4849L3.53362 0.693359Z"
              class="group-disabled:fill-nickel fill-white" />
          </svg>
        </button>
      </div>
    </div>

    <div class="gap-sm flex flex-col">
      <div class="embla w-full overflow-hidden">
        <div class="embla__container gap-sm flex items-stretch active:cursor-grabbing">
          {% for event in all_events %}
            <div
              class="border-border embla__slide flex max-w-[32rem] min-w-[100%] basis-[100%] cursor-pointer flex-col self-stretch overflow-hidden rounded-2xl border bg-white transition-all duration-200 hover:shadow-sm md:min-w-[50%] md:basis-[50%] xl:min-w-[30%] xl:basis-[30%]">
              <div
                class="bg-prussian-blue p-md relative flex min-h-[12rem] flex-col justify-end overflow-hidden text-white">
                <img
                  src="https://labs.iqvia.com/hubfs/IQVIA/Event%20Locations/2881_Park%20Guell%20in%20Barcelona%2c%20Spain.jpg"
                  alt=""
                  class="absolute top-0 left-0 h-full w-full object-cover transition-all duration-200 group-hover:scale-105" />

                {% if event.start_date > current_time %}
                  <div class="absolute -top-2 right-4 items-center justify-center text-black">
                    <div class="relative h-[9rem] w-[7.5rem]">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 141 164" fill="none" class="absolute top-0">
                        <path d="M0.804688 0H140.195V163.316L70.5001 128.114L0.804688 163.316V0Z" fill="#013a55"></path>
                      </svg>

                      <div class="pt-md absolute left-0 flex h-full w-full flex-col items-center">
                        <div class="font-sans-narrow text-center text-4xl leading-none font-bold text-white">
                          {{ event.start_date|datetimeformat("%e") }}
                        </div>
                        <div class="font-sans-narrow text-xl font-medium text-white">
                          {{ event.start_date|datetimeformat("%b, %y") }}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
              <div class="p-md my-auto flex flex-col justify-between pb-0">
                <div class="gap-sm flex h-full flex-col justify-center">
                  {% if event.start_date > current_time %}
                    <p class="text-imperial-red font-semibold">{{ event.time }}</p>
                  {% endif %}
                  <div class="flex items-center">
                    <h5 class="break-word font-sans-narrow font-semibold">{{ event.name }}</h5>
                  </div>
                </div>
              </div>
              <div class="p-md w-full">
                <a
                  target="_blank"
                  class="button with-arrow bg-imperial-red block w-full! rounded-lg px-4 py-3 text-center font-medium text-white transition-colors duration-200 hover:bg-red-700"
                  href="/events/{{ event.hs_path }}">
                  {{ module.cta_label }}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
