<div class="p-md md:pl-2xl md:pr-2xl max-w-max-page gap-md m-auto flex flex-col">
  {% if module.enable_headline %}
    {% set headline = module.headline %}

    <div class="gap-base flex w-full flex-col">
      {% if headline.eyebrow %}
        <div class="w-full tracking-widest">{{ headline.eyebrow }}</div>
      {% endif %}
      {% if headline.title %}
        <div class="w-full font-bold">{{ headline.title }}</div>
      {% endif %}
      {% if headline.content %}
        <div class="w-full font-bold">{{ headline.content }}</div>
      {% endif %}
    </div>
  {% endif %}

  {% for grid_row in module.grid_rows %}
    <div
      class="gap-md md:grid-cols-{{ grid_row.lab_buttons|length }} mx-auto grid h-full w-fit grid-cols-1 content-center items-center justify-center">
      {% for lab_button in grid_row.lab_buttons %}

        {% set wrapper_size = lab_button.size == 'small' ? 'h-[6rem]' : lab_button.size == 'medium' ? 'h-[7rem]' : 'h-[9rem]' %}
        {% set bracket_size = lab_button.size == 'small' ? 'h-[7.75rem]' : lab_button.size == 'medium' ? 'h-[9rem]' : 'h-[11.5rem]' %}

        <div class="group {{ wrapper_size }} relative m-auto block aspect-square">
          <div
            class="fill-imperial-red {{ bracket_size }} pointer-events-none absolute inset-0 top-[50%] left-[50%] flex aspect-square translate-x-[-50%] translate-y-[-50%] items-center justify-center transition-all duration-600 group-hover:scale-50 group-hover:rotate-180">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 197.22 187.39">
              <path
                class="bracket"
                d="m67.2,170.71c-30.36-12.39-51.76-42.2-51.76-77.01S36.85,29.08,67.2,16.68V.19C28.14,13.31,0,50.21,0,93.69s28.14,80.39,67.2,93.5v-16.49Z" />
              <path
                class="bracket"
                d="m129.43,0v16.45c30.67,12.25,52.35,42.2,52.35,77.25s-21.68,65-52.35,77.25v16.45c39.37-12.94,67.8-49.99,67.8-93.69S168.79,12.94,129.43,0Z" />
            </svg>
          </div>

          <div class="absolute inset-0 flex items-center justify-center">
            <div class="aspect-square h-full overflow-hidden rounded-full">
              <img
                src="{{ lab_button.image.src }}"
                alt="{{ lab_button.image.alt }}"
                class="h-full w-full object-cover" />
            </div>
          </div>

          <div
            class="{{ wrapper_size }} absolute bottom-[50%] left-[50%] aspect-square translate-x-[-50%] translate-y-[50%] rounded-full bg-black opacity-20"></div>
          <p
            class="absolute top-[50%] left-[50%] w-fit translate-x-[-50%] translate-y-[-50%] text-center font-semibold text-white">
            {{ lab_button.button_label }}
          </p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  {% if module.display_footnote %}
    <div class="w-full">{{ module.footnote }}</div>
  {% endif %}
</div>
