{% import "/TosohTheme2025/templates/partials/macros.html" as macros %}
{% set row = dynamic_page_hubdb_row %}
{%set breadcrumbs = module.breadcrumbs %}

{% require_js position="head" %}
<script>
window.Tosoh.SupportPortalContent =  {{module |tojson}};
</script>
{% end_require_js %}


{% if dynamic_page_hubdb_row %}
    {% set wistia_video_id = row.wistia_cached_url|split('/')|reverse|first %}
    {% set wistia_video_url = row.wistia_video_url %}
    {% set manual_breadcrumbs = [
      {
        title: 'Home',
        url: {href:'/'},
      },
      {
        title: 'Support Portal',
        url: {href:'/support-portal'},
      },
      {
        title: '{{ row.name }}'
      }]
    %}

    {% require_js %}
    <script>
      window._wq = window._wq || [];
      _wq.push({
        id: "{{ wistia_video_id }}",
        options: {
          playerColor: "ed1a3b",
          backgroundOpacity: 1,
        }
      });
    </script>
    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
    <script>
    
    (function() {
      const wistiaVideoUrl = "{{ wistia_video_url }}";
      if (wistiaVideoUrl) {

        if (wistiaVideoUrl.endsWith('.bin') && !wistiaVideoUrl.includes('?disposition=attachment')) {
          wistiaVideoUrl += '?disposition=attachment';
        }

        let downloadLink = document.querySelector('a[href="{{ wistia_video_url }}"]');
        if (downloadLink) {
          downloadLink.href = wistiaVideoUrl;
        }
      }
    })();
    </script>
    {% end_require_js %}
      
        {{macros.breadcrumbs(manual_breadcrumbs)}}
        <div class='p-md pt-0 md:pl-2xl md:pr-2xl mb-[6rem] max-w-max-page mx-auto'>
          <div class="flex flex-col gap-md">
            <h1 class="text-xl font-bold break-all">{{ row.name }}</h1>
              <div class="w-full max-w-[64rem] m-auto rounded-lg overflow-hidden aspect-video wistia_responsive_padding wistia_embed wistia_async_{{ wistia_video_id }}"></div>    
            <div class="flex flex-col gap mb-lg">
              {% if module.display_video_download && wistia_video_url %}
              <a href="{{wistia_video_url}}" class="button mx-auto">Download</a>
              {% endif %}
           </div>      
          </div>
        </div>
     
{% else %}
{{macros.breadcrumbs(breadcrumbs)}}
<tosoh-support-portal></tosoh-support-portal>
{% endif %}
