{% set title = module.title || 'Competitor Comparison Tool (CCT)' %}
{% set description = module.description || 'Your centralized hub for technical assistance, product resources, and expert guidance across Tosoh Comparison Tool.' %}
{% set tosoh_instrument_name = request.query_dict.tosoh_instrument_name  or "" %}
{% set competitor_instrument_name = request.query_dict.competitor_instrument_name  or "" %}

{% set all_instruments = hubdb_table_rows("cct_instruments") %}
{% set all_comparisons = hubdb_table_rows("cct_comparison") %}
  
{% require_js position="head" %}
  <script>
  const allInstruments = {{ all_instruments|tojson }};
  const allComparisons = {{ all_comparisons|tojson }};

  window.Tosoh.CCT = { allInstruments, allComparisons};
  </script>
{% end_require_js %}


<div class="gap-base p-md md:pl-2xl md:pr-2xl mt-[6rem] flex flex-col">
  {% if title || description %}
    <div class="max-w-max-page gap-md p-md md:pl-2xl md:pr-2xl m-auto flex flex-col">
      {% if title %}
        <h2 class="font-bold">{{ title }}</h2>
      {% endif %}

      {% if description %}
        <h6 class="text-nickel">{{ description }}</h6>
      {% endif %}
    </div>
  {% endif %}

  <tosoh-cct-filters></tosoh-cct-filters>
</div>
