{% set title = module.title  %}
{% set description = module.description  %}
{% set product_line = request.query_dict.product_line  or "all" %}
{% set tosoh_instrument_name = request.query_dict.tosoh_instrument_name  or "" %}
{% set competitor_instrument_name = request.query_dict.competitor_instrument_name  or "" %}
{% set access_level = module.access_level or "all" %}
  
{% set all_instruments = access_level == 'all' ? hubdb_table_rows("cct_instruments",'&active__eq=true') : hubdb_table_rows("cct_instruments",'&active__eq=true&access_level__contains='~access_level) %}

{% set all_product_lines = all_instruments|selectattr('product_line')|map(attribute='product_line')|unique %}
{% set instruments_based_on_product_line = product_line == 'all' ? all_instruments|selectattr('company.name', 'equalto', 'Tosoh')|map(attribute='product_name')|unique : all_instruments|selectattr('company.name', 'equalto', 'Tosoh')|selectattr('product_line.name', 'equalto', product_line)|map(attribute='product_name')|unique %}
{% set active_competitor_instruments = [] %}
 
 {% if tosoh_instrument_name %}
  {% set active_compariso_rows_based_on_tosoh_instrument = hubdb_table_rows("cct_comparison", '&tosoh_instrument_name__eq='~tosoh_instrument_name) %}
    
    {% for row in active_compariso_rows_based_on_tosoh_instrument %}
      {% for foreign_row in row.competitor_instrument_name %}
      {% do active_competitor_instruments.append({name: foreign_row.product_name, label: foreign_row.company.label ~ ' : ' ~ foreign_row.product_name, sufficient_data_status: foreign_row.sufficient_data_status.name }) %}
    {% endfor %}
  {% endfor %}
{% endif %} 

{% set tosoh_instrument = all_instruments|selectattr('product_name', 'equalto', tosoh_instrument_name)|first %} 
{% set competitor_instrument = all_instruments|selectattr('product_name', 'equalto', competitor_instrument_name)|first %}
      
{% set roles = [{label: 'Laboratory Manager', name: 'lab_man_benefits'}, {label: 'Laboratory Staff', name: 'lab_staff_benefits'}, {label: 'Clinician', name: 'clinician_benefits'}, {label: 'Procurement Manager', name: 'procurement_benefits'}] %}
        
{% require_js position="head" %}
  <script>
  const allInstruments = {{ all_instruments|tojson }};
  const activeCompetitorInstruments = {{ active_competitor_instruments|unique|tojson }};
  const allProductLines = {{ all_product_lines|tojson }};
  const instrumentsBasedOnProductLine = {{ instruments_based_on_product_line|tojson }};

  window.Tosoh.CCT = { allInstruments, activeCompetitorInstruments, allProductLines, instrumentsBasedOnProductLine };
  </script>
{% end_require_js %}


<div class="gap-md max-w-max-page p-md md:pl-2xl md:pr-2xl m-auto mt-header-height flex flex-col">
  {% if title || description %}
    <div class="gap-base flex flex-col">
      {% if title %}
        <h3 class="font-bold">{{ title }}</h3>
      {% endif %}

      {% if description %}
        <h6 class="text-nickel">{{ description }}</h6>
      {% endif %}
    </div>
  {% endif %}

  <div class="gap-md flex flex-col xl:flex-row">
  <tosoh-cct-filters></tosoh-cct-filters>

    {% if !tosoh_instrument_name and !competitor_instrument_name %}
      <div class="text-xl font-semibold">{{ module.no_instrument_selected_message }}</div>
    {% else %}
    <div class="border-border flex w-full flex-col rounded-2xl border">
      <div class="p-base flex w-full items-center justify-center">
        <h6 class="font-semibold">
        {% if tosoh_instrument_name %}
            TOSOH : {{ tosoh_instrument_name }}
        {% endif %}
        {% if competitor_instrument_name %}
            <span class="text-imperial-red font-semibold">
            versus</span>
            {{ competitor_instrument.company.label }} : {{ competitor_instrument.product_name }}
          {% endif %}
          </h6>
        </div>
        <div class="w-full max-w-[calc(100vw-(var(--spacing-md)*2))] h-full">
          <tosoh-scroll-x>
              <div class="mx-auto flex w-full min-w-[56rem] lg:min-w-0 {{ tosoh_instrument_name or competitor_instrument_name ? 'opacity-100' : 'opacity-50 pointer-events-none' }}">
                {% for role in roles %}
                  <tosoh-tab-group
                    variant="action"
                    groupId="{{ role.name }}"
                    {{ loop.first ? 'active="true"' : '' }}>
                    <span class="whitespace-nowrap">
                    {{ role.label }}
                    </span>
                  </tosoh-tab-group>
                {% endfor %}
              </div>
            <div class="divide-border flex h-full w-full min-w-[56rem] justify-center divide-x lg:min-w-0">
              <div class="p-md flex w-full h-full flex-col">
                {% if tosoh_instrument_name %}
                <h6 class="mb-sm text-center font-semibold">TOSOH Benefits Sum-Up</h6>
                {% for role in roles %}
                  <tosoh-tab-group variant="tab" groupId="{{ role.name }}" {{ loop.first ? 'active="true"' : '' }}>
                    <div>{{ tosoh_instrument[role.name] }}</div>
                  </tosoh-tab-group>
                {% endfor %}
                {% else %}
                  <div class="font-semibold">{{ module.no_tosoh_instrument_selected_message }}</div>
                {% endif %}
              </div>

              <div class="p-md flex w-full h-full flex-col">
                {% if competitor_instrument_name %}
                <h6 class="mb-sm text-center font-semibold">Benefits Sum-Up</h6>
                {% for role in roles %}
                  <tosoh-tab-group variant="tab" groupId="{{ role.name }}" {{ loop.first ? 'active="true"' : '' }}>
                    <div>{{ competitor_instrument[role.name] }}</div>
                  </tosoh-tab-group>
                {% endfor %}
                {% else %}
                  <div class="font-semibold">{{ module.no_competitor_instrument_selected_message }}</div>
                {% endif %}
              </div>
            </div>
          </tosoh-scroll-x>
        </div>
      </div>
    </div>
  {% endif %}
</div>
