{% require_js position="head" %}

{% set menu = menu(module.menu) %}
{% set menu_json = menu|tojson %}

<script>
  window.Tosoh = window.Tosoh || {};
  window.Tosoh.mainNavigationMenu = {{ menu_json; }};
  window.Tosoh.mainNavigationCTAs = {{ ctas_json; }};
</script>
{% end_require_js %}

<tosoh-header>
  {% if module.logo.src %}
  <img slot="logo" src="{{ module.logo.src }}" alt="{{ module.logo.alt or 'Tosoh' }}"
    class="h-18 md:h-20 w-auto md:py-xs" />
  {% endif %}

  {% if module.ctas|length %}
  <div slot="cta" class="flex flex-row gap-sm md:pb-2xs">
    {% for cta in module.ctas %}
    {% set cta_target = cta.link.open_in_new_tab ? "_blank" : "_self"%}
    <a class="{{ cta.variant or 'button' }}" href="{{ cta.link.url.href }}" target="{{ cta_target }}">
      {{ cta.linkLabel }}
    </a>
    {% endfor %}
  </div>
  {% endif %}

  {% if module.aux|length %}
  <div slot="aux" class="flex gap-sm text-sm uppercase">
    {% for aux in module.aux %}
    {% set aux_target = aux.link.open_in_new_tab ? "_blank" : "_self"%}
    <a href="{{ aux.link.url.href }}" target="{{ aux_target }}">{{ aux.linkLabel }}</a>
    {% endfor %}
  </div>
  {% endif %}
</tosoh-header>
