{% import "/TosohTheme2025/templates/partials/macros.html" as macros %}
{% set tab_group_columns = module.tab_group_columns %}
{% set lock_card = module.is_locked ? 'disabled' : '' %}
{% set is_locked = module.is_locked %}

{% set ifu_documents = module.ifu_documents %}
{% set sds_documents = module.sds_documents %}
{% set coa_documents = module.coa_documents %}

{% set hubdb_tab_group_columns = [ifu_documents, sds_documents, coa_documents] %}
{% set all_tab_group_columns = hubdb_tab_group_columns + tab_group_columns %}

<div class="max-w-max-page p-md md:pl-2xl md:pr-2xl gap-base bg-ghost-white m-auto flex w-full flex-col">
  {{ macros.tab_actions_selector(all_tab_group_columns) }}

  {% for tab_group_column in all_tab_group_columns %}
    <tosoh-tab-group
      variant="tab"
      groupId="{{ tab_group_column.column_label }}"
      {{ loop.first ? 'active="true"' : '' }}>
      {% for document in tab_group_column.documents %}
        <a
          href="{{ is_locked ? '/_hcms/mem/login' : '#' }}"
          target="_blank"
          {{ lock_card }}
          class="group p-sm md:p-base border-border gap-sm relative flex cursor-pointer flex-row items-center justify-between overflow-hidden rounded-2xl border transition-[shadow] duration-500 hover:shadow-sm">
          <div class="gap-sm flex flex-row items-center">
            {{ macros.render_document_type(document.document_type) }}
            <div class="gap-2xs flex flex-col">
              <h6
                class="text-default group-hover:text-imperial-red group-[&[disabled]]:text-nickel font-sans-narrow font-semibold transition-all duration-200">
                {{ document.document_name }}
              </h6>
              <span class="text-nickel gap-xs flex flex-row items-center text-sm">
                {{ document.document_description }}
              </span>
            </div>
          </div>
          {{ macros.render_download_document_icon() }}
          {{ macros.render_lock(module.locked_message) }}
        </a>
      {% endfor %}
    </tosoh-tab-group>
  {% endfor %}
</div>
