<!--
  templateType: section
  label: Double Image
  description: "A section with two images side by side."
  isAvailableForNewContent: true
  screenshotPath: /TosohTheme2025/images/sections/double-image.png
-->

{% dnd_section %}
  {% dnd_column %}
    {% dnd_row %}
      {%
        dnd_module path="../../modules/FlexColumns.module", offset=0, width=12,
        fields={
          module_settings: {
            text_color: "text-default",
            gap: "gap-md",
            justify: "justify-center",
            overflow_scroll_x: false,
            is_reversed_mobile: false
          },
          columns: [
            {
              type: "image",
              image: {
                type: "single",
                image: {
                  src: "{{ get_asset_url('../../images/logo-full.jpg') }}",
                  alt: "logo-full"
                },
                is_image_contained: false,
                link: {
                  url: {
                    href: ""
                  }
                }
              },
              column_settings: {
                flex_factor: 0,
                column_size: "w-6xl",
                is_rounded: false,
                match_tallest_column: false,
                align: "self-center",
                justify: "justify-self-start",
                border_color: "border-transparent"
              },
              animation_settings: {
                is_animated: false
              }
            },
            {
              type: "image",
              image: {
                type: "single",
                image: {
                  src: "{{ get_asset_url('../../images/inspecting-results.jpg') }}",
                  alt: "inspecting-results"
                },
                is_image_contained: false,
                link: {
                  url: {
                    href: ""
                  }
                }
              },
              column_settings: {
                flex_factor: 0,
                column_size: "w-6xl",
                is_rounded: false,
                match_tallest_column: false,
                align: "self-center",
                justify: "justify-self-start",
                border_color: "border-transparent"
              },
              animation_settings: {
                is_animated: false
              }
            }
          ]
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
