<!--
  templateType: section
  label: Flex Column w/ Offset Pill-Shaped Image
  description: "Flex Column with a pill-shaped image offset to the side of the viewport."
  isAvailableForNewContent: true
  screenshotPath: ../../images/previews/fc-pill-img-offset.png
-->

{% set columns = [
  {
    type: "content",
    content: {
      eyebrow: "<p>Lorem Ipsum</p>",
      title: "<h2>Lorem ipsum dolor sit amet</h2>",
      description: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
    },
    column_settings: {
      flex_factor: 2,
      align: "center",
      pt_mobile: "md",
      pt_desktop: "md",
      pb_mobile: "md",
      pb_desktop: "md",
      pl_mobile: "md",
      pl_desktop: "md",
      pr_mobile: "md",
      pr_desktop: "md"
    }
  },
  {
    type: "media",
    media: {
      type: "image",
      image: { src: "https://45980862.fs1.hubspotusercontent-na1.net/hubfs/45980862/placeholder.png" },
      media_shape: "pill-start"
    },
    column_settings: {
      flex_factor: 1,
      pt_desktop: "md",
      pb_desktop: "md",
    }
  }
] %}

{% set module_settings = {
  gap: "md",
  pt_mobile: "md",
  pt_desktop: "md",
  pr_mobile: "none",
  pr_desktop: "none",
  pb_mobile: "md",
  pb_desktop: "md",
  pl_mobile: "none",
  pl_desktop: "2xl"
} %}

{% dnd_section %}
{% dnd_column %}
{% dnd_row %}
{% dnd_module path="../../modules/FlexColumns", fields={
  columns: columns,
  module_settings: module_settings,
} %}
{% end_dnd_module %}
{% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}
