<!--
  templateType: section
  label: Flex Column w/ Pill & Image Overlay
  description: "Flex Column with a pill-shape and image overlay. This section is designed to highlight key content with an image overlaying a pill-shaped background."
  isAvailableForNewContent: true
  screenshotPath: ../../images/previews/fc-pill-img-overlay.png
-->

{% set columns = [
  {
    type: "content",
    content: {
      eyebrow: "<p>Lorem Ipsum</p>",
      title: "<h2>Lorem ipsum dolor sit amet</h2>",
      description: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
    },
    column_settings: {
      flex_factor: 4,
      align: "center",
      pt_mobile: "md",
      pt_desktop: "md",
      pb_mobile: "md",
      pb_desktop: "md",
      pl_mobile: "md",
      pl_desktop: "2xl",
      pr_mobile: "md",
      pr_desktop: "none",
      bg_color: "petrol",
      text_color: "cream"
    }
  },
  {
    type: "shape",
    shape: {
      shape: "pill-end",
      shape_color: "petrol"
    },
    column_settings: {
      flex_factor: 1,
    },
  },
  {
    type: "media",
    media: {
      type: "image",
      image: { src: "https://45980862.fs1.hubspotusercontent-na1.net/hubfs/45980862/machine.png" },
      is_contained: true,
    },
    column_settings: {
      flex_factor: 2,
      offset_x_desktop: -8,
    }
  }
] %}

{% set module_settings = {
  gap: "none",
  pt_mobile: "md",
  pt_desktop: "md",
  pr_mobile: "none",
  pr_desktop: "none",
  pb_mobile: "md",
  pb_desktop: "md",
  pl_mobile: "none",
  pl_desktop: "none"
} %}

{% dnd_section %}
{% dnd_column %}
{% dnd_row %}
{% dnd_module path="../../modules/FlexColumns", fields={
  columns: columns,
  module_settings: module_settings,
} %}
{% end_dnd_module %}
{% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}
