<!--
  templateType: section
  label: Flex Column w/ Quote & Content Block
  description: "Flex Column with a quote and content block. This section is designed to highlight a quote alongside descriptive content."
  isAvailableForNewContent: true
  screenshotPath: ../../images/previews/fc-quote-content.png
-->

{% set columns = [
  {
    type: "quote",
    quote: {
      quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
      author: "Lorem Ipsum"
    },
    column_settings: {
      flex_factor: 1,
    },
  },
  {
    type: "content",
    content: {
      eyebrow: "<p>Lorem Ipsum</p>",
      title: "<h2>Lorem ipsum dolor sit amet</h2>",
      description: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
    },
    column_settings: {
      flex_factor: 2,
      align: "center"
    }
  }
] %}

{% set module_settings = {
  gap: "lg"
} %}

{% dnd_section %}
{% dnd_column %}
{% dnd_row %}
{% dnd_module path="../../modules/FlexColumns", fields={
  columns: columns,
  module_settings: module_settings,
} %}
{% end_dnd_module %}
{% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}
