<!--
  templateType: section
  label: Flex Column w/ Tabulated Content
  description: "Flex Column with multiple columns, each contained within separate tab groups."
  isAvailableForNewContent: true
  screenshotPath: ../../images/previews/fc-tab-content.png
-->

{% set columns = [
  {
    tab_group_id: "tab-group-1",
    type: "content",
    content: {
      eyebrow: "<p>Lorem Ipsum</p>",
      title: "<h2>Lorem ipsum dolor sit amet</h2>",
      description: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
    },
    column_settings: {
      flex_factor: 3,
      align: "center",
    },
  },
  {
    tab_group_id: "tab-group-1",
    type: "media",
    media: {
      type: "image",
      image: { src: "https://45980862.fs1.hubspotusercontent-na1.net/hubfs/45980862/placeholder.png" },
    },
    column_settings: {
      flex_factor: 2,
    }
  },
  {
    tab_group_id: "tab-group-2",
    type: "content",
    content: {
      eyebrow: "<p>Lorem Ipsum</p>",
      title: "<h3>Lorem ipsum dolor sit amet</h3>",
      description: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
    },
  },
  {
    tab_group_id: "tab-group-2",
    type: "content",
    content: {
      eyebrow: "<p>Lorem Ipsum</p>",
      title: "<h3>Lorem ipsum dolor sit amet</h3>",
      description: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
    },
  }
] %}

{% set module_settings = {
  pt_mobile: "none",
  pt_desktop: "none",
  pr_mobile: "none",
  pr_desktop: "none",
  pb_mobile: "none",
  pb_desktop: "none",
  pl_mobile: "none",
  pl_desktop: "none",
  gap: "none",
} %}

{% set tab_settings = {
  pt_mobile: "md",
  pt_desktop: "md",
  pr_mobile: "md",
  pr_desktop: "2xl",
  pb_mobile: "md",
  pb_desktop: "md",
  pl_mobile: "md",
  pl_desktop: "2xl",
  gap: "lg",
} %}

{% set tab_group_settings = {
  is_enabled: true,
  tab_groups: [
    {
      group_id: "tab-group-1",
      group_label: "Tab Group #1",
      tab_settings: tab_settings,
    },
    {
      group_id: "tab-group-2",
      group_label: "Tab Group #2",
      tab_settings: tab_settings,
    }
  ]
} %}

{% dnd_section %}
{% dnd_column %}
{% dnd_row %}
{% dnd_module path="../../modules/FlexColumns", fields={
  columns: columns,
  module_settings: module_settings,
  tab_group_settings: tab_group_settings,
} %}
{% end_dnd_module %}
{% end_dnd_row %}
{% end_dnd_column %}
{% end_dnd_section %}
