<!--
  templateType: section
  label: Icon Cards with Image and Header
  description: "A section with a header and a list of icon cards with an image and a title."
  isAvailableForNewContent: true
  screenshotPath: /TosohTheme2025/images/sections/icon-cards-with-image-and-header.png
-->

{% dnd_section %}
  {% dnd_column %}
    {# Row 1: Header #}
    {% dnd_row %}
      {%
        dnd_module path="../../modules/FlexColumns.module", offset=0, width=12,
        fields={
          module_settings: {
            text_color: "text-default",
            gap: "gap-md",
            overflow_scroll_x: false,
            is_reversed_mobile: false
          },
          columns: [
            {
              type: "content",
              content: {
                text_align: "text-left",
                horizontal_align: "items-start",
                eyebrow: "<span style=\"color: #000000;\">HIGH QUALITY RESULTS 24/7</span>",
                title: "<h2><span style=\"color: #ed1a3b;\">Best return on investment</span></h2>",
                description: "<p>The Tosoh AIA-CL300 is designed to produce reliable results 24/7, requiring minimal hands-on time, thanks to an intuitive, user-friendly software and simple, well-defined maintenance procedures.</p>",
                is_cta: false,
                link: {
                  url: {
                    href: ""
                  }
                }
              },
              column_settings: {
                flex_factor: 0,
                is_rounded: false,
                match_tallest_column: false,
                align: "self-center",
                justify: "justify-self-start",
                border_color: "border-transparent"
              },
              animation_settings: {
                is_animated: false
              }
            }
          ]
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}

    {# Row 2: Image + Icon Cards #}
    {% dnd_row %}
      {%
        dnd_module path="../../modules/FlexColumns.module", offset=0, width=12,
        fields={
          module_settings: {
            text_color: "text-default",
            gap: "gap-md",
            overflow_scroll_x: false,
            is_reversed_mobile: false,
            pr_desktop: "md:pr-4xl",
            pb_desktop: "md:pb-xl",
            pl_desktop: "md:pl-4xl"
          },
          columns: [
            {
              type: "image",
              image: {
                type: "single",
                image: {
                  src: "{{ get_asset_url('../../images/aia300redcircle.png') }}",
                  alt: "aia300redcircle"
                },
                is_image_contained: false,
                link: {
                  url: {
                    href: ""
                  }
                }
              },
              column_settings: {
                flex_factor: 0,
                is_rounded: false,
                match_tallest_column: false,
                align: "self-center",
                justify: "justify-self-start",
                border_color: "border-transparent"
              },
              animation_settings: {
                is_animated: false
              }
            },
            {
              type: "icon_cards",
              icon_cards: [
                {
                  icon: {
                    src: "{{ get_asset_url('../../images/icons/icon-send.png') }}",
                    alt: "icon-send"
                  },
                  title: "Less hands-on time",
                  description: "<span>Automatic on-board reconstitution of all reagents including calibrators, frees up operators' time</span>"
                },
                {
                  icon: {
                    src: "{{ get_asset_url('../../images/icons/icon-vial.png') }}",
                    alt: "icon-vial"
                  },
                  title: "LOW REAGENT AND CONSUMABLE CONSUMPTION",
                  description: "<span>The 1 cup = 1 test principle allows predictable consumption</span>"
                },
                {
                  icon: {
                    src: "{{ get_asset_url('../../images/icons/icon-settings.png') }}",
                    alt: "icon-settings"
                  },
                  title: "LESS HUMAN ERRORS",
                  description: "<span>Each cup has a QR</span><sup>&reg;*</sup><span>&nbsp;code for positive identification and is auto reconstituted on-board the analyser, just before use</span>"
                },
                {
                  icon: {
                    src: "{{ get_asset_url('../../images/icons/icon-quick.png') }}",
                    alt: "icon-quick"
                  },
                  title: "QUICK RESULTS DELIVERY",
                  description: "<span>Assay time for most tests is approx. 15 min with a max throughput of 30 tests/hour</span>"
                },
                {
                  icon: {
                    src: "{{ get_asset_url('../../images/icons/icon-recycle.png') }}",
                    alt: "icon-recycle"
                  },
                  title: "LOW WASTE PRODUCTION",
                  description: "<p>No reagent waste, long expiration dates, 90-days calibration stability for all assays and limited solid and liquid waste</p>"
                },
                {
                  icon: {
                    src: "{{ get_asset_url('../../images/icons/icon-filter.png') }}",
                    alt: "icon-filter"
                  },
                  title: "LOW SAMPLE VOLUMES AND WIDE ASSAY RANGES",
                  description: "<p><span>Minimal need for post-dilutions and assay repeats</span></p>"
                },
                {
                  icon: {
                    src: "{{ get_asset_url('../../images/icons/icon-time.png') }}",
                    alt: "icon-time"
                  },
                  title: "MINIMAL DOWNTIME",
                  description: "<p>AIA-CL300 benefits from the unique technology of the AIA-CL1200 and AIA-CL2400, that have already proven themselves in the market</p>"
                },
                {
                  icon: {
                    src: "",
                    alt: ""
                  },
                  title: "",
                  description: "<p style=\"font-size: 12px;\">* QR Code is a registered trademark of DENSO WAVE INCORPORATED</p>"
                }
              ],
              column_settings: {
                flex_factor: 0,
                is_rounded: false,
                match_tallest_column: false,
                align: "self-center",
                justify: "justify-self-start",
                border_color: "border-transparent"
              },
              animation_settings: {
                is_animated: false
              }
            }
          ]
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
