<!--
  templateType: section
  label: Text Left Image Right
  description: "A section with a content column on the left and an image column on the right."
  isAvailableForNewContent: true
  screenshotPath: /TosohTheme2025/images/sections/text-left-image-right.png
-->

{% dnd_section %}
  {% dnd_column %}
    {% dnd_row %}
      {%
        dnd_module path="../../modules/FlexColumns.module", offset=0, width=12,
        fields={
          module_settings: {
            text_color: "text-default",
            gap: "gap-md",
            overflow_scroll_x: false,
            is_reversed_mobile: false,
            pb_desktop: "md:pb-xl"
          },
          columns: [
          {
            type: "image",
            image: {
              type: "single",
              image: {
                src: "{{ get_asset_url('../../images/connectivity4.jpg') }}",
                alt: "connectivity4"
              },
              is_image_contained: false,
              link: {
                url: {
                  href: ""
                }
              }
            },
            column_settings: {
              flex_factor: 3,
              is_rounded: false,
              match_tallest_column: false,
              align: "self-center",
              justify: "justify-self-start",
              border_color: "border-transparent"
            },
            animation_settings: {
              is_animated: false
            }
          },
          {
            type: "content",
            content: {
              text_align: "text-left",
              horizontal_align: "items-start",
              title: "<h3>Designed with Growth in Mind</h3>",
              description: "<p><strong>• Scalability</strong>&nbsp; 90 sample loader or 290 sample loader</p><p><strong>• Haematology line connection</strong></p><p><strong>• Total Laboratory Track Automation</strong></p>",
              is_cta: false,
              link: {
                url: {
                  href: ""
                }
              }
            },
            column_settings: {
              flex_factor: 3,
              is_rounded: false,
              match_tallest_column: false,
              align: "self-center",
              justify: "justify-self-start",
              border_color: "border-transparent"
            },
            animation_settings: {
              is_animated: false
            }
          }
        ]
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}
